.gameVideos {
  display: inline-flex;

}

.gameSpace {}

.gameContainer {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2fr 1fr;
}

.videoContainer {}


.gameVideosGridContainer {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "A A B"
    "A A C"
    "D F E";
}

@media(max-width: 1440px) {
  .gameVideosGridContainer {
    gap: 10px;
  }



}