.rulesContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.rulesItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-family: 'Montserrat';
  color: #fff;
  gap: 20px;
  font-size: 20px;
}

.rulesTytle{
  font-size: 50px;
  font-weight: 600;
}

ol{
  width: 90%;
}

li + li {
  margin-top: 15px;
}

p + p {
  margin-top: 10px;
}