.videoContainer {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.videoContainerHost {
  grid-area: A;
  order: 1;
}

.videoContainerPlayer {
  order: 2;
}

.videoHost {
  width: 100%;
  border: solid 4px #E1782B;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.videoPlayer {
  width: 100%;
  border: solid 4px #206eb0;
  border-radius: 12px;
}

.videoHostTitle {
  padding: 13px 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-family: 'Montserrat';
  text-align: center;
  background: #E1782B;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
}

.videoUserContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  background: #E1782B;
  position: absolute;
  top: 3%;
  right: 3%;
}

.videoUserName {
  font-size: 20px;
  color: #fff;
}

.videoUserAvatar {
  width: 30px;
}

.videoUserName+.videoUserAvatar {
  margin-left: 5px;
}

@media(max-width: 1440px) {
  .videoUserName {
    font-size: 14px;
  }

  .videoUserAvatar {
    width: 20px;
  }

  .videoUserName+.videoUserAvatar {
    margin-left: 2px;
  }
}